<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to part.file_filename, attachment_url(part, :file) %> (<%= part.file_content_type %> <%= number_to_human_size part.file_size %>)
  </div>

  <div class="panel-body">
    <pre><%= part.metadata %></pre>
  </div>
</div>